In [1]:
import ots_backend as backend

In [2]:
yf = backend.yahoo.finance()

In [3]:
aapl = yf.get_prices('AAPL', start_date = '2024-05-08', end_date = '2024-05-08')

In [4]:
aapl

,timestamp,timestamp_eastern,close,low,open,volume,high
297,2024-05-08 13:30:00,2024-05-08 09:30:00-04:00,182.779999,182.619995,182.710007,1750161.0,182.960007
298,2024-05-08 13:31:00,2024-05-08 09:31:00-04:00,182.759995,182.550003,182.759995,333228.0,182.919998
299,2024-05-08 13:32:00,2024-05-08 09:32:00-04:00,182.429993,182.300003,182.779007,234114.0,182.789993
300,2024-05-08 13:33:00,2024-05-08 09:33:00-04:00,182.430099,182.279999,182.429993,296206.0,182.610001
301,2024-05-08 13:34:00,2024-05-08 09:34:00-04:00,182.690002,182.360001,182.449997,210337.0,182.690002
...,...,...,...,...,...,...,...
683,2024-05-08 19:56:00,2024-05-08 15:56:00-04:00,182.835007,182.809998,182.925003,172212.0,182.929993
684,2024-05-08 19:57:00,2024-05-08 15:57:00-04:00,182.850006,182.800003,182.835007,215333.0,182.880005
685,2024-05-08 19:58:00,2024-05-08 15:58:00-04:00,182.820099,182.820007,182.850006,186038.0,182.889999
686,2024-05-08 19:59:00,2024-05-08 15:59:00-04:00,182.740005,182.684998,182.824997,528971.0,182.830002
687,2024-05-08 20:00:00,2024-05-08 16:00:00-04:00,182.820000,182.740000,182.740000,5737357.0,182.870000